table {
    width: 100%;
    border-collapse: collapse;
}
td, th, tr{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    border-radius: 10px;
}

th {
    background-color: #e7a1e1;

    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #b59adf;
}
tr:nth-child(odd) {
    background-color: #b14ba3;
}
tr:hover {
    background-color: #f1f1f1;
}
.button-container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 90%;
    height: 50px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}